.head-title {
    display: inline-block;
    margin-right: 10px;
}
.dt-btn-edit{
    margin-right:6px;
}

.dt-btn-delete {
    margin-right: 6px;
}

.show-img {
    background: #F1F1F1;
    padding: 3px;
    margin-top: 18px;
    border-radius: 2px;
    text-align: left!important;
    display: inline-block;
}
.gallery img {
    width: 140px;
    height: 128px;
    margin: 0 8px;
}

.show-multi-img{
    background: #F1F1F1;
    padding: 10px;
    margin-top: 18px;
    border-radius: 4px;
    text-align: left!important;
    display: block;
}

#output {
    background: #FFFFFF;
}

#gallery-output {
    background: #FFFFFF;
}

.new-img i {
    position: absolute;
    font-size: 67px;
    color: #d9d9d9b0;
    margin: auto;
    bottom: 291px;
    left: 58px;
}

.multi-img i {
    position: absolute;
    left: 63px;
    font-size: 68px;
    color: #d9d9d9b0;
    bottom: 38px;
}

.loder {
    height: 33px;
    position: absolute;
    z-index: 1;
    top: 62px;
    right: 27%;
}

/*toggle button custom css*/

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.toggle-on.btn-sm {
    padding-top: 6px;
}
.toggle-off.btn-sm {
    padding-left: 25px;
    padding-top: 6px;
}
.toggle-handle.btn{
    padding: 7px 15px;
}
/*End*/

/*multi image preview*/
a.fileinput-upload.fileinput-upload-button {
    display: none;
}
.fileinput-remove.fileinput-remove-button {
    background: orange;
}
.file-preview .fileinput-remove {
    top: 7px;
    right: 5px;
    line-height: 10px;
    color: red;
}

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}
/*end*/

.sticky-save-btn{
    position: fixed;
    width: 100%;
    bottom: -30px;
    left: 0;
    right: 0;
}
.remove {
    display: block;
    background: #263544;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}
span.pip {
    /* padding: 3px; */
    margin: 3px;
    /* border: 1px solid #ddd; */
}
span.pip .imageThumb {
    width: 90px;
    height: 80px;
    padding: 2px;
    border: 1px solid #ddd;
}
.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}

.form-control:focus {
    border-color: #ffb03b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #ffb03b;
}

/*custom selcet 2*/

.select2-results__option:before {
    content: "" !important;
    display: inline-block !important;
    position: relative !important;
    height: 20px !important;
    width: 20px !important;
    border: 1px solid #e9e9e9 !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    margin-right: 20px !important;
    vertical-align: middle !important;
}
.select2-results__option[aria-selected=true]:before {
    font-family:'Font Awesome 5 Free' !important;
    content: "\f00c" !important;
    color: #fff !important;
    background-color: #2ed8b6 !important;
    border: 0 !important;
    display: inline-block !important;
    padding-left: 3px !important;
    font-size: 15px;
    font-weight: bold;

}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb !important;
    color: #272727 !important;
}

/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none !important;
}
.select-icon .placeholder {
    display: none !important;
}

.card {
    margin-bottom: 20px;
}
.chatting .customer{
    cursor: pointer;
}
.chatting .customer:hover{
    background: #dddddd7a !important
}
.chatting .customer.active{
    background: #dddddd7a !important
}
.chat-card .msg {
    max-width: 50%;
}
.chatbox-wraper {
    height: 500px;
    min-height: 0;
    overflow-y: auto;
    margin: 6px 0 10px 0;
    width: 100%;
    position: relative;
    padding: 20px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
}
.input--file {
    position: relative;
    color: #7f7f7f;
    padding: 5px 15px;
}

.input--file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 17px;
}
.input--file i {
    font-size: 22px;
    margin-top: 6px;
    padding: 10px;
}
.main-body .page-wrapper {
    padding: 0.2rem 0.5rem;;
}

.header-navbar .navbar-wrapper .navbar-logo {
     padding: 0 0 ;
}